.text-center {
	text-align: center;
}

.border-bottom {
	border-bottom: 1px solid grey;
}

.button-pill {
	border-radius: 24px !important;
}

.evenly-spaced {
	display: flex;
	justify-content: space-evenly;
}

.m-top-md {
	margin-top: 2rem;
}

.m-top-xl {
	margin-top: 4rem;
}